/* THEME HIGHLIGHT COLOR */
::-moz-selection{
  background:#b3d4fc;
  text-shadow:none;
}
::selection{
  background:#b3d4fc;
  text-shadow:none;
}

.nt-btn.active {
    border-bottom:2px solid #FC0;
}
div.nt-btn:focus {
    color:#FC0;
}


/* DARK THEME */

body.dark div#view {
    background: #000;
}

body.dark #find:hover {
    background-color: #1c1c1c;
}

body.dark .nt-btn span.badge.right {
    background: #111;
    color:#FFF;
}
body.dark .nt-view-btn {
    color:#FFF;
}

/* LIGHT THEME */

body.light div#view {
    background: #FFF;
}
body.light #find:hover {
    background-color: #fff;
}
body.light .nt-btn span.badge.right {
    background: #FFF;
    color:#111;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
