/* THEME HIGHLIGHT COLOR */
::-moz-selection{
  background:#b3d4fc;
  text-shadow:none;
}
::selection{
  background:#b3d4fc;
  text-shadow:none;
}

.btn.active {
    border-bottom:2px solid #FC0;
}
.btn:focus {
    color:#FC0;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    color: #FC0;
}

/* DARK THEME */

body.dark a, body.dark a:visited {
    color: #94a2ff;
}
body.dark a:hover {
    color: #a2ff94;
}

body.dark {
    background-color: black;
}
body.dark div#view {
    background: #000;
}

body.dark #find:hover {
    background-color: #1c1c1c;
}

body.dark .btn {
    background-color: #222;
    color: white;

}

body.dark .btn span.badge.right {
    background: #111;
    color:#FFF;
}
body.dark .view-btn {
    color:#FFF;
}
body.dark .btn:hover,
body.dark .btn:focus {
    background: rgba(255,255,255, 0.3);
}
body.dark #font-size-dropdown .badge {
    color: #FFF;
}

body.dark .editor {
    background-color: white;
    color: black;
}

/* LIGHT THEME */
body.light {
    background-color: white;
}
body.light div#view {
    background: #FFF;
}
body.light #find:hover {
    background-color: #fff;
}
body.light .btn span.badge.right {
    background: #FFF;
    color:#111;
}
body.light .btn:hover,
body.light .btn:focus {
    background: rgba(0, 0, 0, 0.3);
}
body.light #font-size-dropdown .badge {
    color: #111;
}

/* LIGHT and DARK THEMES */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.windget {
    opacity: 0.9;
}
