/* THEME HIGHLIGHT COLOR */
::-moz-selection{
  background:#b3d4fc;
  text-shadow:none;
}
::selection{
  background:#b3d4fc;
  text-shadow:none;
}

.btn.active {
    border-bottom:2px solid #FC0;
}
.btn:focus {
    color:#FC0;
}


/* DARK THEME */

body.dark div#view {
    background: #000;
}

body.dark #find:hover {
    background-color: #1c1c1c;
}

body.dark .btn span.badge.right {
    background: #111;
    color:#FFF;
}
body.dark .view-btn {
    color:#FFF;
}
body.dark .btn:hover,
body.dark .btn:focus {
    background: rgba(255,255,255, 0.3);
}

/* LIGHT THEME */

body.light div#view {
    background: #FFF;
}
body.light #find:hover {
    background-color: #fff;
}
body.light .btn span.badge.right {
    background: #FFF;
    color:#111;
}
body.light .btn:hover,
body.light .btn:focus {
    background: rgba(0, 0, 0, 0.3);
}

/* LIGHT and DARK THEMES */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
